.container{
  width:800px;
  height:400px;
  // padding:20px;
  border:1px solid gray;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  background: black;
}
.image-slider-wrapper{
  overflow: hidden;
}

#image-slider{
  position: relative;
  height: 100%;
  // width: 5000px;
  padding:0;
  margin:0;
  transition: left ease-in-out 1s;
  li{
    max-width: 100%;
    float:left;
    list-style: none;

    img {
      width: 800px;
      height: 400px;
    }
  }
}
