* {
  box-sizing: border-box;
}

.container{
  width:800px;
  height:400px;
  border:1px solid gray;
  background: black;
}
.image-slider-wrapper{
  overflow: hidden;
}

#slider-wrapper {
  position: relative;
}

#image-slider{
  position: relative;
  height: 100%;
  padding:0;
  margin:0;
  transition: left ease-in-out 1s;

  li{
    max-width: 100%;
    float:left;
    list-style: none;

    img {
      width: 800px;
      height: 400px;
    }
  }
}

#slider-indicators {
  position: absolute;
  display: flex;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 0;

  li {
    color: white;
    list-style: none;
    margin: 5px;
    font-size: 2rem;
    cursor: pointer;
  }
  li::after {
    content: '•';
  }
}
